[defaults]
collections_path = ./.ansible/collections
roles_path = ./.ansible/roles
library = ./.ansible/modules
retry_files_enabled = false
host_key_checking = false
vault_password_file = ${XDG_DATA_HOME}/ansible/crap
transfer_method = scp

[ssh_connection]
scp_if_ssh = true
sftp_command = /usr/libexec/openssh/sftp-server
scp_extra_args = -O
